<div >
<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
</ion-header-bar>

<ion-content class='has-subheader'>


 <div ng-repeat="t in controller.collection.models">
 t -----------{{t.title}}-{{t.dateStart}}-{{t.endsAt}}------------t 
 </div>
 

{{ calendarTitle }}---calendarTitle
{{ events }} --events
{{ eventsafter }}--eventsafter

<button class="btn btn-primary pull-right" 
ng-click="events.push({title: 'New event', type: 'important', draggable: true, resizable: true, startsAt: 1436839367000 , endsAt: 1436925767000  })">
Add new</button>

	<h2 class="text-center">{{ calendarTitle }}</h2>

	<button class="btn btn-primary" mwl-date-modifier
		date="calendarDay" decrement="calendarView">Previous</button>
	<button class="btn btn-default" mwl-date-modifier
		date="calendarDay" set-to-today>Today</button>
	<button class="btn btn-primary" mwl-date-modifier
		date="calendarDay" increment="calendarView">Next</button>

	<div class="btn-group">
		<label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'year'">Year</label>
		<label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'month'">Month</label>
		<label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'week'">Week</label>
		<label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'day'">Day</label>
	</div>
              

	<mwl-calendar id="test"
    view="calendarView"
    current-day="calendarDay"
    events="events"
    view-title="calendarTitle"
    on-event-click="eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="eventEdited(calendarEvent)"
    on-delete-event-click="eventDeleted(calendarEvent)"
    auto-open="true">
	</mwl-calendar>			



</ion-content>
</div>