<ion-view>
	<div ng-controller="TodoCtrl">
	<form name="myForm"  class="my-form">
	<ion-header-bar class="item-input-inset" align-title="left">
	    <button class="button ion-close-round" ui-sref="app.todo"></button>
	    <div class="buttons" ng-init="isDisabled = false">
	        <h1 class="title">Create Todo</h1>
	        <ion-button ng-disabled="myForm.taskname.$error.required" 
	        class="button ion-checkmark-round" ng-click="controller.add()"></ion-button>
	    </div>
	</ion-header-bar>
	
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Task name..." name="taskname" ng-model="todo.task" required>
			</label>

			<div class="row">
				<div class="col-md-8">
					<span class="input-label">Start date</span> 
					
					<p class="input-group">
					<input type="text" name="dateStart" show-weeks="false"
						class="form-control" datepicker-popup="{{format}}" 
						ng-model="todo.dateStart" is-open="datepickers.dateStart"   
						min-date="minDate" max-date="maxDate" 
						datepicker-options="dateOptions" 
						ng-required="true" close-text="Close" />
			              
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" 
			                ng-click="controller.open($event, 'dateStart')">
						<i class="icon ion-calendar"></i></button>
					</span>
					</p>
				</div>
				<div class="col-md-4">
					<timepicker ng-model="todo.timeStart" 
			        	ng-change="changed()" hour-step="hstep" 
			        	minute-step="mstep" show-meridian="ismeridian"></timepicker>
				</div>      
			</div>   
			<div class="row">
				<div class="col-md-8">
					<span class="input-label">End date</span>
					<p class="input-group">
					<input type="text" name="dateEnd" show-weeks="false"
			                class="form-control" datepicker-popup="{{format}}" 
			              	ng-model="todo.dateEnd" is-open="datepickers.dateEnd"  
			              	min-date="minDate" max-date="maxDate" 
			              	datepicker-options="dateOptions" 
			              	ng-required="true" close-text="Close" />
			              
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" 
			                ng-click="controller.open($event, 'dateEnd')">
						<i class="icon ion-calendar"></i></button>
					</span>
					</p>
				</div>
				<div class="col-md-4">
					<timepicker ng-model="todo.timeEnd" 
			        	ng-change="changed()" hour-step="hstep" 
			        	minute-step="mstep" show-meridian="ismeridian"></timepicker>
				</div>
			</div>
			
		</div>
		
	</ion-content>
	</form>
	</div>
</ion-view>