<ion-view>
	<ion-header-bar class="item-input-inset" align-title="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>All Todo Items</h1>
        <button class="button" ui-sref="app.createTodo">New</button>
	</ion-header-bar>
	<ion-content>
		<ion-list>
		
			<ion-item ng-controller="TodoListCtrl" 
			ng-repeat="model in controller.collection.models"
			>
				<div class='row'>
					<div class='col'>
						{{model.task}}-Start: {{model.dateStart}}-End: {{model.dateEnd}}
					</div>
				</div>

			</ion-item>
			
			
	            
		</ion-list>
		<ion-infinite-scroll ng-if="model.state.page < model.state.total_page" on-infinite="controller.loadMore()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>