<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>My Todo</h1>
    
    <button class="button button-clear button-positive" ui-sref="app.createTodo">New</button>  
</ion-header-bar>
<div class="bar bar-subheader item-input-inset">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="search">
	</label>
</div>
<ion-content class='has-subheader'>
	<ion-list>
		<ion-item 
			ng-repeat="model in controller.collection.models  | todosFilter:search"
			ui-sref="app.readTodo({ SelectedTodo: model })"
			>
				<div class='row'>
					<div class='col'>
						{{(model.dateStart.getDate()<10?'0':'') + model.dateStart.getDate() }}/{{('0'+(model.dateStart.getMonth()+1)).slice(-2)}}/{{model.dateStart.getFullYear()}} {{(model.dateStart.getHours()<10?'0':'') + model.dateStart.getHours() }}:{{(model.dateStart.getMinutes()<10?'0':'') + model.dateStart.getMinutes() }} 
						
						<b>Task:</b> {{model.task}}
					</div>
				</div>
				
				<ion-option-button class="button button-assertive icon-left ion-trash-a" on-tap="$event.stopPropagation(); $parent.controller.collection.remove(model);">Delete</ion-option-button>
		</ion-item>
	</ion-list> 
	<ion-infinite-scroll
	 ng-if="collection.state.page < collection.state.total_page " 
	 on-infinite="controller.loadMore()"
	 >
	</ion-infinite-scroll>
</ion-content>
