<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>{{fmDate | date: 'd'}} - {{toDate | date: 'd MMM yyyy'}}</h1>
    <button class="button button-clear button-positive" ui-sref="app.createTodo">New</button>  
</ion-header-bar>



<ion-header-bar class="bar  bar-subheader bar-light">
<table class="wk-weektop wk-full-mode" cellpadding="0" cellspacing="0">
<tbody>
<tr class="wk-daynames">
<td class="wk-tzlabel" style="width:0px" rowspan="3"></td>

<th scope="col" style="width:25px"><div class="wk-dayname" ><span >
	<button class="button" on-tap="$event.stopPropagation(); controller.previousWeek()"><</button>
	</span></div></th>
<th scope="col" style="width:25px"><div class="wk-dayname" ><span >
	<button class="button" on-tap="$event.stopPropagation(); controller.nextWeek()">></button>
	</span></div></th>

<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[0])? 'wk-today' : ''"><span >{{week[0] | date: 'd'}}</span></div></th>
<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[1])? 'wk-today' : ''"><span >{{week[1] | date: 'd'}}</span></div></th>
<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[2])? 'wk-today' : ''"><span >{{week[2] | date: 'd'}}</span></div></th>
<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[3])? 'wk-today' : ''"><span >{{week[3] | date: 'd'}}</span></div></th>
<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[4])? 'wk-today' : ''"><span >{{week[4] | date: 'd'}}</span></div></th>
<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[5])? 'wk-today' : ''"><span >{{week[5] | date: 'd'}}</span></div></th>
<th scope="col"><div class="wk-dayname" ng-class="controller.isToday(week[6])? 'wk-today' : ''"><span >{{week[6] | date: 'd'}}</span></div></th>


</tr>
</tbody>
</table>

</ion-header-bar>
<ion-content class="has-subheader">

<div id="scrolltimedeventswk" class="wbkt wk-scrolltimedevents" >
<div class="tg-mainwrapper" style="margin-top:0px;">
<table id="tgTable" class="tg-timedevents" cellpadding="0" cellspacing="0" style="height:2020px">
<tbody>
<tr height="1">
	<td style="width:50px;"></td>
	<td colspan="7">
      <div class="tg-spanningwrapper"></div>
      <div class="tg-spanningwrapper tg-chipspanningwrapper" id="tgspanningwrapper">
      <div class="tg-hourmarkers">
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
      </div>
      </div>
    </td>
</tr>
<tr>
	<td class="tg-times-pri">
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">00:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">01:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">02:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">03:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">04:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">05:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">06:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">07:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">08:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">09:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">10:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">11:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">12:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">13:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">14:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">15:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">16:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">17:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">18:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">19:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">20:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">21:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">22:00</div></div>
		<div style="height:84px;"><div class="tg-time-pri" style="height:82px;">23:00</div></div>
	</td>
	<td class="tg-col" ng-class="controller.isToday(week[0])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[0]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>		
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	<td class="tg-col" ng-class="controller.isToday(week[1])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[1]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>		
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	<td class="tg-col" ng-class="controller.isToday(week[2])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[2]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	<td class="tg-col" ng-class="controller.isToday(week[3])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[3]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	<td class="tg-col" ng-class="controller.isToday(week[4])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[4]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	<td class="tg-col" ng-class="controller.isToday(week[5])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[5]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	<td class="tg-col" ng-class="controller.isToday(week[6])? 'tg-today' : ''"><div id="tgCol6" class="tg-col-eventwrapper" style="height:2016px;margin-bottom:-1008px;">
		<div class="tg-gutter">
			<div ng-repeat="todo in weektodo[6]  | orderBy:['left']">
				<div ui-sref="app.editTodo({ SelectedTodo: todo, myTodoCol: null, backpage: 'app.week'})" 
				class="chip {{todo.style}}" style="top:{{todo.top}}px;left:{{todo.left}}%;width:{{todo.width}}%" >
					<div class="cbrd" style="height:{{todo.height}}px;">{{todo.task}}</div>
				</div>
			</div>
		</div>
	</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
	
		
</tr>
</tbody>
</table>
</div>
</div>


	<div ng-repeat="todo in wtodo[0] ">
		{{todo}}
	</div>
	<div ng-repeat="todo in wtodo[1] ">
		{{todo}}
	</div>
	
</ion-content>
